.myrow{
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 460px;
    max-width: 418px;
    overflow-y: auto;
}
.notification-enter{
    opacity: 0.01;
}

.notification-enter.notification-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.notification-leave{
    opacity: 1;
}

.notification-leave.notification-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
.notification-appear{
    opacity: 0.01;
}

.notification-appear.notification-appear-active{
    opacity: 1;
    transition: opacity .5s ease-in;
}